<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<% content_for(:custom_stylesheets) { stylesheet_link_tag "administrate" } %>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name).singularize
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <% if params[:thesis_id] && attribute.name == 'thesis' %>
      <div class="panel">
        <%= hidden_field_tag 'hold[thesis_id]', params[:thesis_id] %>
        <div class="panel-heading">Thesis info</div>
        <div class="panel-body">
          <ul class="list-unbulleted">
            <li>Title: <%= attribute.data.title %></li>
            <li>Author(s): <%= attribute.data.users.map { |author| author.name }.join("; ") %></li>
            <li>Degree(s): <%= attribute.data.degrees.map { |degree| degree.name_dw }.join("; ") %></li>
            <li>Degree date: <%= attribute.data.grad_date %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
        <% if attribute.name == 'dates_thesis_files_received' %>
          <div class="field-unit__label">
            <label for="hold_dates_files_received">Dates thesis files received</label>
          </div>
          <div class="field-unit__field">
            <input type="text" id="hold_dates_files_received" value="<%= attribute.data %>" readonly>
          </div>
        <% else %>
          <%= render_field attribute, f: f %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
