<p>Hello <%= @user.given_name %>,</p>

<p>You have successfully updated your thesis information. 
Here is the information we have on record:</p>

<ul>
  <li>Name: <%= @user.display_name %></li>
  <li>Email: <%= @user.email %></li>
  <li>ORCID iD: <%= @user.orcid %></li>
  <li>Thesis title: <%= @thesis.title %></li>
  <li>Name as it appears on your thesis: <%= @user.preferred_name %></li>
  <li>Co-author: <%= @thesis.coauthors %></li>
  <li>Department(s): <%= @thesis.departments.map { |d| d.name_dw }.join(', ') %></li>
  <li>Degree(s): <%= @thesis.degrees.map { |d| d.name_dw }.join(', ') %></li>
  <li>Degree date: <%= @thesis.graduation_month %> <%= @thesis.graduation_year %></li>
  <li>Copyright holder: <%= @thesis.copyright.holder %></li>
  <li>License: <%= @thesis.license_id ? @thesis.license.display_description : "" %></li>
  <li>Thesis supervisors: <%= @thesis.advisors.map { |a| a.name }.join(', ') %></li>
  <li>Abstract: <%= @thesis.abstract %></li>
  <li>Notes: <%= @thesis.author_note %></li>
</ul>

<p>You have until graduation day to update this information.</p>

<p>A few reminders:</p>
<ul>
  <li>Save your files in the correct format.
    <ul>
      <li>Thesis PDF: macdonald-mssimon-mcp-dusp-2019-thesis.pdf</li>
      <li>Proquest Form: macdonald-mssimon-mcp-dusp-2019-proquest.pdf</li>
      <li>Signature Page: macdonald-mssimon-mcp-dusp-2019-sig.pdf</li>
    </ul>
  </li>
  <li>Submit your thesis files and Proquest form (PhDs only) directly to 
  your department.</li>
  <li>Be sure that all of the elements on your title page match the 
  information you have provided to the Libraries today!</li>
</ul>


<p>Please let us know if you have any questions. And again, congratulations 
on finishing (or almost finishing) your degree!</p>

<p>Thanks,</p>
<p>The Thesis team at the MIT Libraries</p>
