<%= column_chart [
  {
    name: 'Processed',
    data: group_for_graph('downloaded')
  },
  {
    name: 'Active',
    data: group_for_graph('active')
  },
  {
    name: 'Withdrawn',
    data: group_for_graph('withdrawn')
  }],
  stacked: true,
  # Brand colors! (Muted versions.)
  colors: ['#1A1A83', '#FFC422', '#B00606'] %>

<table>
  <tr>
    <th>
      Graduation Date
    </th>
    <th>
      # Active
    </th>
    <th>
      # Downloaded
    </th>
    <th>
      # Withdrawn
    </th>
    <th>
      % Downloaded
    </th>
  </tr>
  <% @theses.group_by(&:grad_date).each do |date, group| %>
    <% active = group.select { |item| item.status == 'active' }.count %>
    <% downloaded = group.select { |item| item.status == 'downloaded' }.count %>
    <% withdrawn = group.select { |item| item.status == 'withdrawn' }.count %>
    <% any = group.count %>
    <tr>
      <td>
        <%= date.strftime("%b %Y") %>
      </td>
      <td>
        <%= active %>
      </td>
      <td>
        <%= downloaded %>
      </td>
      <td>
        <%= withdrawn %>
      </td>
      <td>
        <%= (100*Float(downloaded)/Float(any)).round %>%
      </td>
    </tr>
  <% end %>
</table>
