<tr>
  <td><%= link_to title_helper(proquest_export_thesis), edit_admin_thesis_path(proquest_export_thesis.id) %></td>
  <td>
    <% proquest_export_thesis.authors.each do |author| %>
      <%= link_to author.user.display_name, edit_admin_author_path(author.id) %><br>
    <% end %>
  </td>
  <td><%= proquest_export_thesis.grad_date %></td>
  <td><%= proquest_export_thesis.dspace_handle %></td>
  <td><%= render_proquest_status(proquest_export_thesis) %></td>
</tr>
