<tr>
  <td data-sort="<%= select_thesis.files.blobs.first.created_at %>"><%= link_to(select_thesis.files.blobs.first.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%b %-d, %Y<br>%l:%M %p').html_safe, thesis_process_path(select_thesis.id)) %></td>
  <td data-sort="<%= select_thesis.grad_date %>"><%= select_thesis.graduation_month[...3] %> <%= select_thesis.graduation_year %></td>
  <td>
    <% select_thesis.departments.each do |dept| %>
      <%= dept.name_dw %><br>
    <% end %>
  </td>
  <td>
    <% select_thesis.users.each do |user| %>
      <%= user.display_name %><br>
    <% end %>
  </td>
  <td><%= select_thesis.issues_found ? 'Yes' : 'No' %></td>
  <td><%= select_thesis.publication_status %></td>
</tr>
