<div class="panel has-flag panel-<%= thesis.css_alert_type %>" data-id="thesis_<%= thesis.id %>">
  <div class="panel-heading">
    <div class="layout-3q1q layout-band">
      <div class="col3q">
        <h4><span >Submitted by: </span><%= thesis.users.map { |u| u.processing_queue_name }.join(",") %></h4>
      </div>
      <div class="col1q-r">
        <p class="status copy-sup">Status: <span class="thesis-status type-<%= thesis.css_alert_type %>"> <%= thesis.status %></span></p>

        <p class="grad-date"><span class="sr">Graduation date: </span><%= thesis.graduation_month %> <%= thesis.graduation_year %></p>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="layout-3q1q layout-band">
      <div class="col3q">
        <ul class="list-unbulleted">
          <li>
            <span class="label">Title:</span>
            <%= thesis.title %>
          </li>
          <li>
            <span class="label">Submission date: </span>
            <%= thesis.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%b %d, %Y %r') %>
          </li>
          <li>
            <span class="label"><%= "Department".pluralize(thesis.departments.count) %>:</span>
              <%= thesis.departments.map{|d| d.name}.join(",") %>
          </li>
          <li>
            <span class="label"><%= "Degree".pluralize(thesis.degrees.count) %>:</span>
              <%= thesis.degrees.map{|d| d.name}.join(",") %>
          </li>
        </ul>

        <div class="wrap-files-list">
          <h5 class="label">File:</h5>
          <div class="files-list">
            <% if thesis.files.attached? %>
              <% thesis.files.each do |file| %>
                <ul>
                  <li>Link: <%= link_to(file.filename, url_for(file)) %></li>
                  <li>Purpose: <%= file.purpose %></li>
                  <li>Description: <%= file.description %></li>
                </ul>
                <hr />
              <% end %>
            <% else %>
              No files attached
            <% end %>
          </div>
        </div>
      </div>

      <div class="col1q-r">
        <p class="rights"><span class="label">Rights: </span> <%= thesis.right.statement %></p>
        <%= link_to("View details", thesis_path(thesis.id), class: 'btn button-secondary button-small view-details') %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="layout-3q1q layout-band">
      <div class="col3q">
        <%= form_tag(annotate_path(thesis), method: "post", class: 'form-notes') do %>
          <div class="field-wrap">
            <%= label_tag("note_#{thesis.id}", "Processor note:", class: "field-label") %>
            <%= text_area_tag("note_#{thesis.id}", thesis.processor_note,
              class: "field field-text field-textarea full-width") %>
          </div>
          <%= submit_tag("Update processor note", class: "btn button-secondary button-small") %>
        <% end %>
      </div>
      <div class="col1q-r">
        <% if thesis.status != 'withdrawn' %>
          <%= button_to "Mark as withdrawn",
              { action: "mark_withdrawn", id: thesis.id },
              { class: 'btn button-subtle warn',
                data: { status: 'withdrawn', confirm:
                  "Are you sure this thesis should be withdrawn?" }} %>
        <% end %>

        <% if thesis.status == "active" %>
          <%= button_to "Mark as downloaded",
              { action: "mark_downloaded", id: thesis.id },
              { class: 'btn button-secondary',
                data: {status: 'downloaded'} } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
