<%= content_for(:title, "Duplicate Theses Report | MIT Libraries") %>

<% content_for :additional_js do %>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<% end %>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

<h3 class="title title-page">Theses with co-author(s)</h3>

<%= render 'shared/you_are' %>

<%= form_tag(thesis_deduplicate_path, method: "get") do %>
  <label>
    Show only theses from: 
    <select name="graduation">
      <option value="all">All terms</option>
      <% @terms.each do |term| %>
        <option value="<%= term %>"<%= ' selected="selected"'.html_safe if params[:graduation].to_s == term.to_s %>>
          <%= term.in_time_zone('Eastern Time (US & Canada)').strftime('%b %Y') %>
        </option>
      <% end %>
    </select>    
  </label>

  <%= submit_tag('Apply filter', class: 'btn button-primary') %>
<% end %>

<table class="table" id="thesisQueue" title="Thesis processing queue">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author(s)</th>
      <th scope="col">Coauthor(s)</th>
      <th scope="col">Department(s)</th>
      <th scope="col">Degree date</th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'thesis/duplicate_thesis', collection: @thesis) || render('select_empty') %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready( function () {
  if( document.getElementById('thesisQueue').getElementsByClassName('empty').length === 0 ) {
    var table = $('#thesisQueue').DataTable({
      "order": [[ 1, "asc" ]]
    });
  };
});
</script>