<%= content_for(:title, "Edit Thesis Submission | MIT Libraries") %>

<% content_for :additional_js do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<% end %>

<div class="layout-3q1q layout-band">

  <div class="col3q">
    <h3 class="title title-page">Review and submit your thesis information</h3>

    <%= render 'shared/you_are' %>

    <%= render 'welcome' %>

    <%= simple_form_for(@thesis, url: thesis_path,
                                 html: { class: 'thesisSubmission' },
                                 validate: true ) do |f| %>

      <%= f.error_notification %>
      <div class="alert alert-banner error" style="display: none;" role="alert" aria-invalid="true"></div>

      <h4>Your basic info</h4>

      <%= f.simple_fields_for :users do |u| %>
        <% if u.object.id == current_user.id %>
          <%= u.input :id, :as => :hidden %>

          <%= u.input :display_name, label: 'Name',
                                     label_html: { class: 'col1q' },
                                     wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                                     input_html: { class: 'field field-text col3q disabled' },
                                     readonly: true %>

          <%= u.input :email, label: 'Email',
                              label_html: { class: 'col1q' },
                              wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                              input_html: { class: 'field field-text col3q disabled' },
                              readonly: true %>

          <%= u.input :orcid, label: 'ORCID iD',
                              label_html: { class: 'col1q' },
                              wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                              input_html: { class: 'field field-text col3q',
                                aria: { describedby: 'thesis_orcid-hint' } },
                              hint: '(e.g. https://orcid.org/0000-0001-2345-6789)<br>An ORCID iD is a free, unique, persistent identifier that you own and control - forever.<br><a href="https://orcid.mit.edu/cgi-bin/what_is_orcid_mit_ui.cgi" target="_blank">Learn more</a> and <a href="https://orcid.mit.edu/cgi-bin/researcher_ui.cgi" target="_blank">register for one</a>.'.html_safe,
                              hint_html: { class: 'col3q', id: 'thesis_orcid-hint' } %>
        <% end # If IDs match %>
      <% end # simple_fields_for loop %>

      <h4>Your thesis information (as listed on thesis title page)</h4>
      <p>Fields marked with an asterisk (*) are required.<br>&nbsp;</p>

      <%= f.input :title, as: :text,
                          required: true,
                          validate: { presence: true },
                          label: 'Thesis title *',
                          label_html: { class: 'col1q' },
                          wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                          input_html: { class: 'field field-text col3q',
                            data: { msg: Thesis::VALIDATION_MSGS[:title] }
                          },
                          hint: '(update if needed)' %>

      <%= f.simple_fields_for :users do |u| %>
        <% if u.object.id == current_user.id %>
          <%= u.input :preferred_name, required: true,
                                       validate: { presence: true },
                                       label: 'Confirm name on thesis *',
                                       label_html: { class: 'col1q' },
                                       wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                                       input_html: { class: 'field field-text col3q',
                                         aria: { describedby: 'thesis_preferred_name-hint' },
                                         data: { msg: Thesis::VALIDATION_MSGS[:preferred_name] }
                                       },
                                       hint: '(Enter as: Last/Surname, First/Given Middle)',
                                       hint_html: { class: 'col3q', id: 'thesis_preferred_name-hint' } %>
        <% end # If IDs match %>
      <% end # simple_fields_for loop %>

      <%= f.input :coauthors, label: 'Co-author (if applicable)',
                              label_html: { class: 'col1q' },
                              wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                              input_html: { class: 'field field-text col3q',
                                aria: { describedby: 'thesis_coauthors-hint' } },
                              hint: '(Enter as: Last/Surname, First/Given Middle)',
                              hint_html: { class: 'col3q', id: 'thesis_coauthors-hint' } %>

      <%
        f.object.departments.find_all do |dept|
          if f.object.departments.count == 1
            field_id = "department"
            field_label = "Department"
          else
            number = (f.object.departments.find_index(dept).to_i+1).to_s
            field_id = "department-" + number
            field_label = "Department " + number
          end
      %>
        <div class="field-row layout-1q3q layout-band">
          <label class="col1q field-label" for="<%= field_id %>"><%= field_label %></label>
          <input id="<%= field_id %>" type="text" name="department[]" readonly="readonly" value="<%= dept.name_dw %>" class="field field-text col3q disabled">
        </div>
      <% end %>

      <%
        f.object.degrees.find_all do |deg|
          if f.object.degrees.count == 1
            field_id = "degree"
            field_label = "Degree"
          else
            number = (f.object.degrees.find_index(deg).to_i+1).to_s
            field_id = "degree-" + number
            field_label = "Degree " + number
          end
      %>
        <div class="field-row layout-1q3q layout-band">
          <label class="col1q field-label" for="<%= field_id %>"><%= field_label %></label>
          <input id="<%= field_id %>" type="text" name="degree[]" readonly="readonly" value="<%= deg.name_dw %>" class="field field-text col3q disabled">
        </div>
      <% end %>

      <div class="field-row layout-1q3q layout-band">
        <label class="colq1 field-label" for="graduation_date">Degree date</label>
        <input id="graduation_date" type="text" name="graduation_date" readonly="readonly" value="<%= f.object.graduation_month %> <%= f.object.graduation_year %>" class="field field-text col3q disabled">
      </div>

      <%= f.association :copyright, as: :select,
                                    required: true,
                                    validate: { present: true },
                                    include_hidden: false,
                                    label: 'Copyright holder *',
                                    label_html: { class: 'col1q' },
                                    label_method: :display_description,
                                    wrapper_html: { class: 'field-row select layout-1q3q layout-band' },
                                    input_html: { class: 'field field-select col3q', multiple: false,
                                      aria: { describedby: 'thesis_copyright_id-hint' },
                                      data: { msg: Thesis::VALIDATION_MSGS[:copyright] } },
                                    hint: 'For more information about thesis copyright please review the Copyright section of the <a href="https://libraries.mit.edu/archives/thesis-specs/#copyright" target="_blank">Specifications for Thesis Preparation</a> and our <a href="https://libguides.mit.edu/c.php?g=176367&p=8229377#s-lg-box-wrapper-30720662" target="_blank">Copyright & Licensing information</a>.'.html_safe,
                                    hint_html: { id: 'thesis_copyright_id-hint', class: 'col3q' } %>

      <%= f.association :license, as: :select,
                                  include_hidden: false,
                                  label: 'License (if you retain copyright)',
                                  label_method: :display_description,
                                  label_html: { class: 'col1q' },
                                  wrapper_html: { class: 'field-row select layout-1q3q layout-band' },
                                  input_html: { class: 'field field-select col3q', multiple: false,
                                    aria: { describedby: 'thesis_license-hint' } },
                                  hint: 'Not sure what to select? Learn more about <a href="https://creativecommons.org/licenses/" target="_blank">Creative Commons licenses</a>.'.html_safe,
                                  hint_html: { class: 'col3q', id: 'thesis_license-hint' } %>

      <div class="field-row layout-band layout-1q3q">
        <div class="col1q">
          <strong>Thesis supervisor(s)*</strong>
          <p class="hint">(just supervisors, not entire committee)</p>
        </div>
        <%= f.simple_fields_for :advisors do |advisor| %>
          <%= render 'advisor_fields', :f => advisor %>
        <% end %>
        <p class="links col3q">
          <%= link_to_add_association 'Add another supervisor', f, :advisors %>
        </p>
      </div>

      <%= f.input :abstract, as: :text,
                             required: true,
                             validate: { presence: true },
                             label: 'Abstract *',
                             label_html: { class: 'col1q' },
                             wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                             input_html: { class: 'field field-text col3q',
                               rows: 10,
                               data: { msg: Thesis::VALIDATION_MSGS[:abstract] }
                             } %>

      <%= f.input :author_note, as: :text,
                                wrapper_html: { class: 'field-row layout-1q3q layout-band' },
                                input_html: { class: 'field field-text col3q',
                                  rows: 5,
                                  aria: { describedby: 'thesis_author_note-hint' }
                                },
                                label: 'Notes',
                                label_html: { class: 'col1q' },
                                hint: 'If anything is incorrect in the non-editable fields, tell us here.'.html_safe,
                                hint_html: { id: 'thesis_author_note-hint', class: 'col3q' } %>

      <div class='field-row'>
        <%= submit_tag 'Submit thesis information', class: 'btn button-primary' %>
      </div>

    <% end # simple_form_for %>

  </div>

  <aside class="content-sup col1q-r" role="complementary">
    <%= render 'sidebar' %>
  </aside>

</div>

<script type="text/javascript">
  $("form.thesisSubmission").validate({
    invalidHandler: function(event, validator) {
      var errors = validator.numberOfInvalids();
      if (errors) {
        var message = errors == 1
          ? 'The form was not submitted successfully - one required field needs to be fixed.'
          : 'The form was not submitted successfully - ' + errors + ' required fields need to be fixed.';
        $("div.error").html(message);
        $("div.error").show();
      } else {
        $("div.error").hide();
      }
    }
  });
  $("form.thesisSubmission").on('cocoon:after-insert', function(e, insertedItem) {
    hideOnlyLink('advisor');
    ts = "hint-" + Date.now();
    $(insertedItem).find("span.hint").attr("id", ts);
    $(insertedItem).find("input[type=text]").attr("aria-describedby", ts).focus();
  });
  $("form.thesisSubmission").on('cocoon:after-remove', function(e) {
    focusOnFirstVisibleField('advisor');
    hideOnlyLink('advisor');
  });
  $('#thesis_copyright_id').change(function() {
    conditionalLicenseField();
  });
  $(function() {
    conditionalLicenseField();
    hideOnlyLink('advisor');
  });
</script>
