<div class="layout-3q1q layout-band">

  <div class="col3q">
    <h3 class="title title-page">Submit your thesis</h3>

    <p class="copy-sup">
      You are logged in and submitting as <%= current_user.display_name %>.
      Not you? <%= link_to("Sign out.", destroy_user_session_path, method: :delete) %> Please note: all fields are required.
    </p>
    <%= simple_form_for(@thesis, url: '/thesis',
             html: { class: 'thesisSubmission' }, validate: true ) do |f| %>

    <%= f.error_notification %>
    <div class="alert alert-banner error" style="display: none;" role="alert" aria-invalid="true"></div>

    <%= f.input :title, label: 'Title',
                        wrapper_html: { class: 'field-wrap' },
                        input_html: { class: 'field field-text wide',
                          data: { msg: Thesis::VALIDATION_MSGS[:title] }
                        } %>

    <%= f.input :abstract, label: 'Abstract', as: :text,
                           wrapper_html: { class: 'field-wrap' },
                           input_html: { class: 'field field-text wide',
                             data: { msg: Thesis::VALIDATION_MSGS[:abstract] }
                           } %>

    <%= f.association :departments, label_method: :name, as: :select,
                         collection: Department.order(:name),
                         validate: { presence: true },
                         include_hidden: false,
                         wrapper_html: { class: 'field-wrap select' },
                         input_html: { class: 'field-select', multiple: false,
                           data: { msg: Thesis::VALIDATION_MSGS[:departments] }
                         },
                         hint: 'Select your primary department as listed on your title page' %>

    <%= f.association :degrees, label_method: :name, as: :select,
                         include_hidden: false,
                         wrapper_html: { class: 'field-wrap select' },
                         input_html: { class: 'field-select', multiple: false,
                           data: { msg: Thesis::VALIDATION_MSGS[:degrees] }
                         },
                         hint: 'Select your primary degree as listed on your title page' %>

    <%= f.association :right, label: 'Copyright',
                              label_method: :statement, as: :select,
                              include_hidden: false,
                              wrapper_html: { class: 'field-wrap select' },
                              input_html: { class: 'field-select',
                                            multiple: false,
                                            data: { msg: Thesis::VALIDATION_MSGS[:right] } },
                              hint: 'For more information about thesis copyright please review the Copyright section of the <a href="https://libraries.mit.edu/archives/thesis-specs/#copyright">Specifications for Thesis Preparation</a>.'.html_safe %>

    <fieldset>
      <legend>Degree Date</legend>
        <span class="hint">For the degree date, enter the semester in which your degree will be conferred (typically your graduation semester).</span>

        <div class='group-inline'>

          <%= f.input :graduation_month, label: 'Month', as: :select,
                               collection: Thesis::VALID_MONTHS,
                               wrapper_html: { class: 'field-wrap' },
                               input_html: { class: 'field field-select', data: { msg: Thesis::VALIDATION_MSGS[:graduation_month] } } %>

          <%= f.input :graduation_year, label: 'Year', as: :string,
                              wrapper_html: { class: 'field-wrap' },
                              input_html: { class: 'field field-select',
                                data: { msg: Thesis::VALIDATION_MSGS[:graduation_year] },
                              type: 'number',
                              step: 1 } %>
      </div>

    </fieldset>

    <%= f.input :files, as: :file,
        wrapper_html: { class: 'field-wrap' },
        input_html: { class: 'field field-upload',
                      multiple: true,
                      direct_upload: true,
                      data: { msg: Thesis::VALIDATION_MSGS[:files] } },
        label: 'Files to upload',
        required: true,
        hint: 'Please provide an exact PDF duplicate of your paper thesis.' %>

    <div class='field-wrap'>
      <div id="files_to_upload"></div>
    </div>

    <div class='field-wrap'>
      <%= submit_tag 'Submit Thesis', class: 'btn button-primary' %>
    </div>

  <% end %>

  <script>
  $("input:file").change(function () {
      var filenames = '';
      var fileblurb = '<p>The following files will be uploaded when this form is submitted:</p>';
      for (var i = 0; i < this.files.length; i++) {
          filenames += '<li>' + this.files[i].name + '</li>';
      }
      $("#files_to_upload").html(fileblurb + '<ul>' + filenames + '</ul>');
  });
  </script>
  <script>
    $("#new_thesis").validate({
      invalidHandler: function(event, validator) {
        var errors = validator.numberOfInvalids();
        if (errors) {
          var message = errors == 1
            ? 'The form was not submitted successfully - one required field needs to be fixed.'
            : 'The form was not submitted successfully - ' + errors + ' required fields need to be fixed.';
          $("div.error").html(message);
          $("div.error").show();
        } else {
          $("div.error").hide();
        }
      }
    });
  </script>
</div>
<aside class="content-sup col1q-r" role="complementary">
  <div class="bit">
    <h3 class="title">Submission tips</h3>
    <ul>
      <li>
        Submit an exact duplicate of the paper thesis.
      </li>
      <li>
        Combine your thesis into a single PDF file for upload.
      </li>
      <li>
        Remove encryption or other access limitations.
      </li>
    </ul>
  </div>


  <div class="bit">
    <h3 class="title">Need help?</h3>
    <p>
      Email us at <a href="mailto:etheses-admin@mit.edu?Subject=Thesis%20submission%20help">etheses-admin@mit.edu</a> for further assistance.
    </p>
    <p><a href="https://libraries.mit.edu/archives/thesis-specs/index.html">Review the Thesis Specifications</a></p>
  </div>
</aside>
</div>
