<h3>Thesis Submissions Queue</h3>

<div class="gridband layout-2c">
  <div class="grid-item">
    <div class="wrap-filters">
      View:
      <%= link_to "Active", magic_status_url('active'), { class: "btn button-small #{highlight_status('active')}"} %>
      <%= link_to "Downloaded", magic_status_url('downloaded'), { class: "btn button-small #{highlight_status('downloaded')}"} %>
      <%= link_to "Withdrawn", magic_status_url('withdrawn'), { class: "btn button-small #{highlight_status('withdrawn')}"} %>
      <%= link_to "All",magic_status_url('any'), { class: "btn button-small #{highlight_status('any')}"} %>
    </div>
  </div>
  <div class="grid-item">
    <div class="wrap-filters">
      Sort by:
      <%= link_to "Date", magic_sort_url('date'), { class: "btn button-small #{highlight_sort('date')}"} %>
      <%= link_to "Name", magic_sort_url('name'), { class: "btn button-small #{highlight_sort('name')}"} %>
    </div>
  </div>
</div>

<% if show_form %>
  <%= form_tag(process_path, {:method => :get}) do %>
    <%= hidden_field_tag :status, request.params[:status]  %>
    <%= hidden_field_tag :sort, request.params[:sort]  %>
    <fieldset>
      <legend>
        Filter by graduation date
      </legend>
      <div class="group-inline">
        Show theses from
        <div class="field-wrap">
          <%= label_tag(:start_month, "Start Month", { class: "field-label" }) %>
          <%= select_tag(:start_month,
                options_for_select([['', ''], ['January', '1'],
                  ['February', '2'], ['March', '3'], ['April', '4'],
                  ['May', '5'], ['June', '6'], ['July', '7'], ['August', '8'],
                  ['September', '9'], ['October', '10'], ['November', '11'],
                  ['December', '12']], params[:start_month]),
                { class: 'date required field field-select' }) %>
        </div>
        <div class="field-wrap">
          <%= label_tag(:start_year, "Start Year", { class: "field-label" }) %>
          <%= select_tag(:start_year,
                options_for_select(options_for_year_range, params[:start_year]),
                { class: 'date required field field-select' }) %>
        </div>
        until
        <div class="field-wrap">
          <%= label_tag(:end_month, "End Month", { class: "field-label" }) %>
          <%= select_tag(:end_month,
                options_for_select([['', ''], ['January', '1'],
                  ['February', '2'], ['March', '3'], ['April', '4'],
                  ['May', '5'], ['June', '6'], ['July', '7'], ['August', '8'],
                  ['September', '9'], ['October', '10'], ['November', '11'],
                  ['December', '12']], params[:end_month]),
                { class: 'date required field field-select' }) %>
        </div>
        <div class="field-wrap">
          <%= label_tag(:end_year, "End Year", { class: "field-label" }) %>
          <%= select_tag(:end_year,
                options_for_select(options_for_year_range, params[:end_year]),
                { class: 'date required field field-select' }) %>
        </div>
        <button type="submit" class="btn button-secondary">Filter</button>
      </div>
    </fieldset>
  <% end %>
<% end %>

<%# We have to specify the partial because the default would be the plural -
    "theses/thesis". %>
<%= render(partial: 'thesis/thesis', collection: @theses) || render('empty') %>

<%= paginate @theses %>

<script>handleUpdates();</script>
