<h3>Thesis Submissions Queue</h3>

<% @theses.each do |thesis| %>
  <div class="panel panel-info"> <%# color-code by status? %>
    <div class="panel-heading">
      <div class="layout-3q1q layout-band">
        <div class="col3q">
          <%= thesis.user.email %>
        </div>
        <div class="col1q">
          <%= thesis.graduation_month %> <%= thesis.graduation_year %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= 'Department'.pluralize(thesis.departments.count) %>:
        <%= thesis.departments.map{|d| d.name}.join(",") %><br />
      <%= 'Degree'.pluralize(thesis.degrees.count) %>:
        <%= thesis.degrees.map{|d| d.name}.join(",") %><br />
    </div>
    <div class="panel-footer">
      <%= link_to 'View details', thesis_path(thesis.id) %>
      --
      <%# Other stuff should go here when e.g. people can mark as done or
          a download link exists. %>
    </div>
  </div>
<% end %>

<%= paginate @theses %>