<%= content_for(:title, "Thesis Submission | MIT Libraries") %>

<h3 class="title title-page">Thesis Submissions Queue</h3>

<div class="gridband layout-2c">
  <div class="grid-item">
    <div class="wrap-filters">
      View:
      <%= link_to "Active", magic_status_url('active'), { class: "btn button-small #{highlight_status('active')}"} %>
      <%= link_to "Downloaded", magic_status_url('downloaded'), { class: "btn button-small #{highlight_status('downloaded')}"} %>
      <%= link_to "Withdrawn", magic_status_url('withdrawn'), { class: "btn button-small #{highlight_status('withdrawn')}"} %>
      <%= link_to "All",magic_status_url('any'), { class: "btn button-small #{highlight_status('any')}"} %>
    </div>
  </div>
  <div class="grid-item">
    <div class="wrap-filters">
      Sort by:
      <%= link_to "Date", magic_sort_url('date'), { class: "btn button-small #{highlight_sort('date')}"} %>
      <%= link_to "Name", magic_sort_url('name'), { class: "btn button-small #{highlight_sort('name')}"} %>
    </div>
  </div>
</div>

<% if show_form %>
  <%= render partial: "thesis/date_filter_form", locals: { get_path: process_path } %>
<% end %>

<%# We have to specify the partial because the default would be the plural -
    "theses/thesis". %>
<%= render(partial: 'thesis/thesis', collection: @theses) || render('empty') %>

<%= paginate @theses %>
