<h3>Thesis Submissions Queue</h3>

<div class="gridband layout-2c">
  <div class="grid-item">
    <div class="wrap-filters">
      View:
      <%= link_to "Active", magic_status_url('active'), { class: "btn button-small #{highlight_status('active')}"} %>
      <%= link_to "Downloaded", magic_status_url('downloaded'), { class: "btn button-small #{highlight_status('downloaded')}"} %>
      <%= link_to "Withdrawn", magic_status_url('withdrawn'), { class: "btn button-small #{highlight_status('withdrawn')}"} %>
      <%= link_to "All",magic_status_url('any'), { class: "btn button-small #{highlight_status('any')}"} %>
    </div>
  </div>
  <div class="grid-item">
    <div class="wrap-filters">
      Sort by:
      <%= link_to "Date", magic_sort_url('date'), { class: "btn button-small #{highlight_sort('date')}"} %>
      <%= link_to "Name", magic_sort_url('name'), { class: "btn button-small #{highlight_sort('name')}"} %>
    </div>
  </div>
</div>

<% @theses.each do |thesis| %>
  <div class="panel panel-<%= thesis.css_alert_type %>" data-id="thesis_<%= thesis.id %>">
    <div class="panel-heading">
      <div class="layout-3q1q layout-band">
        <div class="col3q">
          <%= thesis.user.name %>
        </div>
        <div class="col1q">
          <%= thesis.graduation_month %> <%= thesis.graduation_year %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="layout-3q1q layout-band">
        <div class="col3q">
          <%= "Department".pluralize(thesis.departments.count) %>:
            <%= thesis.departments.map{|d| d.name}.join(",") %><br />
          <%= "Degree".pluralize(thesis.degrees.count) %>:
            <%= thesis.degrees.map{|d| d.name}.join(",") %><br />
        </div>
        <div class="col1q">
          <% if thesis.status == "active" %>
            <%= button_to "Mark as downloaded",
                { action: "mark_downloaded", id: thesis.id },
                { remote: true, class: 'btn button-secondary',
                  data: {status: 'downloaded'} } %>
          <% end %>
        </div>
      </div>
      <div>
        <%= form_tag(annotate_path(thesis), method: "post", remote: true) do %>
          <div class="field-wrap">
            <%= label_tag("note_#{thesis.id}", "Note:", class: "field-label") %>
            <%= text_area_tag("note_#{thesis.id}", thesis.note,
              class: "field field-text field-textarea full-width") %>
          </div>
          <%= submit_tag("Update note", class: "btn button-secondary") %>
        <% end %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="layout-3q1q layout-band">
        <div class="col3q">
          <%= link_to "View details", thesis_path(thesis.id) %>
          --
          Status: <span class="thesis-status text-<%= thesis.css_alert_type %>">
            <%= thesis.status %></span>

          --

          <br />
          Files:  <% if thesis.files.attached? %>
                    <% thesis.files.each do |file| %>
                      <br />
                       <%= link_to(file.filename, url_for(file)) %>
                    <% end %>
                  <% else %>
                    No files attached
                  <% end %>
        </div>
        <div class="col1q">
          <% if thesis.status != 'withdrawn' %>
            <%= button_to "Mark as withdrawn",
                { action: "mark_withdrawn", id: thesis.id },
                { remote: true, class: 'btn button-subtle warn',
                  data: { status: 'withdrawn', confirm:
                    "Are you sure this thesis should be withdrawn?" }} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @theses %>

<script>handleUpdates();</script>
