<%= content_for(:title, "Thesis Processing | MIT Libraries") %>

<% content_for :additional_js do %>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<% end %>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

<h3 class="title title-page">Thesis Processing Queue</h3>

<%= render 'shared/you_are' %>

<%= form_tag(thesis_select_path, method: "get") do %>
  <label>
    Show only theses from: 
    <select name="graduation">
      <option value="all">All terms</option>
      <% @terms.each do |term| %>
        <option value="<%= term %>"<%= ' selected="selected"'.html_safe if @graduation.to_s == term.to_s %>>
          <%= term.in_time_zone('Eastern Time (US & Canada)').strftime('%b %Y') %>
        </option>
      <% end %>
    </select>    
  </label>

  <%= submit_tag('Apply filter', class: 'btn button-primary') %>
<% end %>

<div id="status-list" class="filter-row">
  <button class="btn button-primary" data-filter="*">Show all</button>
</div>

<table class="table" id="thesisQueue" title="Thesis processing queue">
  <thead>
    <tr>
      <th scope="col">File transfer date</th>
      <th scope="col">Degree date</th>
      <th scope="col">Department(s)</th>
      <th scope="col">Author(s)</th>
      <th scope="col">Issues found</th>
      <th scope="col">Status</th>
      <th scope="col">Processor note</th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'thesis/select_thesis', collection: @thesis) || render('select_empty') %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready( function () {
  if( document.getElementById('thesisQueue').getElementsByClassName('empty').length === 0 ) {
    // Initialize DataTable, sorting by default on degree column (columns are zero-based)
    var table = $('#thesisQueue').DataTable({
      "order": [[ 1, "asc" ]]
    });

    var _status = "*";

    // Add filter for "Status" column to standard table behavior
    // From: https://datatables.net/blog/2014-08-26#Complete-code
    $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
        return ( data[5] === _status || _status === "*" )
          ? true
          : false
      }
    );

    // Populate filter buttons with found values for publication status
    var terms = [...new Set( table.columns(5).data()[0] )];
    terms.forEach(element => {
      document
        .getElementById("status-list")
        .insertAdjacentHTML("beforeend", `
        <button class="btn button-secondary" data-filter="${element}">${element}</button>
      `);
    });

    // Change highlighting and perform filtering when buttons are clicked
    $("#status-list button").click(function() {
      $("#status-list").find(".button-primary").removeClass("button-primary").addClass("button-secondary");
      $(this).removeClass("button-secondary").addClass("button-primary");

      _status = $(this).data("filter");
      table.draw();
    });
  };
});
</script>
