<h3 class="hd-4"><%= @thesis.title %></h3>

<h4 class="label subtitle3">Graduation date</h4> 
<p>
  <%= @thesis.graduation_month %> <%= @thesis.graduation_year %>
</p>

<h4 class="label subtitle3">Department(s)</h4> 
<ul class="list-unbulleted">
  <% @thesis.departments.each do |department| %>
    <li>
      <%= department.name %>
    </li>
  <% end %>
</ul>

<p class="copy-sup">
  Submitted on <%= @thesis.created_at.to_formatted_s(:long) %> by <%= @thesis.user.email %>
</p>
