<p class="box-content card-<%= card[0] %> inline-action">
  <span class="<% if card[1]["link"] %>message <% end %>hero-text">
    <% if card[1]["verb"] %>
      <%= pluralize(card[1]["value"].to_i, card[1]["verb"]) %> <%= card[1]["label"] %>
    <% else %>
      <%= card[1]["value"] %> <%= card[1]["label"] %>
    <% end %>
  </span>
  <% if card[1]["link"] %>
    <span class="actions"><%= link_to( card[1]["link"]["text"], card[1]["link"]["url"] ) %></span>
  <% end %>
</p>
<% if card[1]['note'] %>
  <p><em><%= card[1]['note'] %></em></p>
<% end %>
