<%= content_for(:title, "Thesis Term Summary | MIT Libraries") %>

<div class="layout-3q1q layout-band">
  <div class="col3q">
    <p><%= link_to('Return to thesis dashboard', report_index_path) %></p>

    <h3 class="title title-page">Summary of theses for <%= @this_term %></h3>

    <%= render 'shared/defined_terms_filter' %>

    <% if @this_term == "all terms" || Date.parse(@this_term).year < 2022 %>
      <div class="alert alert-banner">
        <p><i class="fa fa-info-circle fa-lg"></i> Note: Counts of students contributing may not be accurate prior to the
        February 2022 degree period.</p>
      </div>
    <% end %>

    <%= render(partial: 'card', collection: @data) %>

    <hr>

    <%= render(partial: 'table', collection: @table) %>

  </div>

  <aside class="content-sup col1q-r">
    <%= render 'shared/report_submenu' %>
  </aside>
</div>
