<%= content_for(:title, "Thesis Term Summary | MIT Libraries") %>

<div class="layout-3q1q layout-band">
  <div class="col3q">
    <p><%= link_to('Return to thesis dashboard', report_index_path) %></p>

    <h3 class="title title-page">Summary of theses for <%= @this_term %></h3>

    <%= render 'shared/defined_terms_filter' %>

    <% if @this_term == "all terms" || Date.parse(@this_term).year < 2022 %>
      <%= render 'shared/whodunnit_accuracy_statement' %>
    <% end %>

    <h4>Downloadable CSV of Published Theses for this Term</h4>
    <% if @table['status']['data']['Published'] > 0 %>
      Download CSV
    <% else %>
      No Published theses so no metadata CSV is available.
    <% end %>

    <hr>

    <%= render(partial: 'card', collection: @data) %>

    <hr>

    <%= render(partial: 'table', collection: @table) %>

  </div>

  <aside class="content-sup col1q-r">
    <%= render 'shared/report_submenu' %>
  </aside>
</div>
