<%= content_for(:title, "Thesis Transfer Submission | MIT Libraries") %>

<% content_for :additional_js do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<% end %>

<h3 class="title title-page">Transfer theses</h3>

<%= render 'shared/you_are' %>

<%= render 'welcome' %>

<%= simple_form_for(@transfer, url: '/transfer', html: { class: 'transferSubmission' }, validate: true ) do |f| %>

  <%= f.error_notification %>
  <div class="alert alert-banner error" style="display: none;" role="alert" aria-invalid="true"></div>

  <%= f.association :department, label_method: :name_dw, as: :select,
        collection: current_user.submittable_departments,
        validate: { presence: true },
        include_hidden: false,
        wrapper_html: { class: 'field-row select layout-1q3q layout-band' },
        input_html: { class: 'field field-select col3q', multiple: false,
          data: { msg: Transfer::VALIDATION_MSGS[:department] },
          'aria-describedby': 'transfer_department-hint'
        },
        label_html: { class: 'col1q' },
        label: 'Your department',
        hint: 'Select the department or program for which you are
               submitting theses.',
        hint_html: { id: 'transfer_department-hint', class: 'col3q' } %>

  <div class="field-row layout-1q3q layout-band">
    <label class="col1q required field-label" for="thesis_date_ids">Degree date</label>
    <div class="col3q group-inline" id="thesis_date_ids">
      <%= f.input :graduation_month, label: 'Month', as: :select,
            collection: Transfer::VALID_MONTHS,
            wrapper_html: { class: 'field-wrap' },
            input_html: { class: 'field field-select', data: { msg: Transfer::VALIDATION_MSGS[:graduation_month] },
            'aria-describedby': 'thesis_date_ids-hint' } %>
      <%= f.input :graduation_year, label: 'Year',
            collection: [Date.today.last_year.strftime('%Y'),
                         Date.today.strftime('%Y'),
                         Date.today.next_year.strftime('%Y')],
            wrapper_html: { class: 'field-wrap' },
            input_html: { class: 'field field-select',
              data: { msg: Transfer::VALIDATION_MSGS[:graduation_year] } } %>
      <div id="thesis_date_ids-hint" class="hint">Enter the month and year
      in which these degrees will be conferred.</div>
    </div>
  </div>

  <div class="field-row layout-1q3q layout-band">
    <%= f.drag_and_drop_file_field :files, 'Files to upload' %>
    <div class="col3q hint">
      Drag and drop files here, or click to open a file dialog. Please do not upload a zip file.<br>
      Click the "X" next to a file to remove it from an upload.
    </div>
  </div>

  <%= f.input :note, as: :text,
        wrapper_html: { class: 'field-row layout-1q3q layout-band' },
        input_html: { class: 'field field-note col3q', :rows => 10,
          'aria-describedby': 'transfer_note-hint' },
        label_html: { class: 'col1q' },
        label: 'Notes (optional)',
        required: false,
        hint: 'Anything else we should know? If you have questions, email
               <a href="mailto:mit-theses@mit.edu?Subject=Transfer%20submission%20help" target="_blank">mit-theses@mit.edu</a> for the fastest response.'.html_safe,
        hint_html: { id: 'transfer_note-hint', class: 'col3q' } %>

  <%= f.input :transfer_certified, as: :boolean,
              required: true,
              wrapper_html: { class: 'field-row layout-band layout-1q3q' },
              input_html: { class: 'checkbox-input' },
              label_html: { class: 'col3q', style: 'font-weight: normal;' },
              label: " I confirm the theses in this transfer have been approved and certified by my department or program." %>

  <div id="direct-upload-panel">
  </div>

  <div class='field-row layout-3q1q'>
    <div class="col1q-r">
      <%= submit_tag 'Complete transfer', class: 'btn button-primary' %>
    </div>
  </div>

<% end # Ends simple_form_for %>

  <script>
    $("input:file").change(function () {
        var filenames = '';
        var fileblurb = '<p>The following files will be uploaded when this form is submitted:</p>';
        for (var i = 0; i < this.files.length; i++) {
            filenames += '<li>' + this.files[i].name + '</li>';
        }
        $("#files_to_upload").html(fileblurb + '<ul>' + filenames + '</ul>');
    });

    $("#new_transfer").validate({
      invalidHandler: function(event, validator) {
        var errors = validator.numberOfInvalids();
        if (errors) {
          var message = errors == 1
            ? 'The form was not submitted successfully - one required field needs to be fixed.'
            : 'The form was not submitted successfully - ' + errors + ' required fields need to be fixed.';
          $("div.error").html(message);
          $("div.error").show();
        } else {
          $("div.error").hide();
        }
      },
      rules: {
        "transfer[files][]": {
          required: function() {
            // The ASDND gem creates a blank file input that is never populated
            // (and hidden from the user). Instead the files to be uploaded are
            // in an adjacent element. In order to "require" the file upload,
            // we invert the required status of the file field:
            // - If the file list is empty (unused), then we set the file field
            // to be required.
            // - if the file list is populated (used), then we set the file
            // field to not be required.
            if ( document.getElementById('asdndz-transfer_files__icon-container').children.length ) {
              return false;
            } else {
              return true;
            }
          }
        }
      },
      messages: {
        "transfer[files][]": '<%= Transfer::VALIDATION_MSGS[:files] %>'
      }
    });
  </script>
