<%= content_for(:title, "Transfer Processing | MIT Libraries") %>

<% content_for :additional_js do %>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<% end %>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">

<p><%= link_to "Back to Transfer queue", transfer_select_path %></p>

<h3 class="title title-page">Transfer from <%= @transfer.department.name_dw %> on <%= @transfer.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%b %-d, %Y at %l:%M %p') %></h3>

<div class="well">
  <div class="layout-band layout-1q3q">
    <div class="col1q">Received:</div>
    <div class="col3q"><%= @transfer.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%b %-d, %Y<br>%l:%M %p').html_safe %></div>
  </div>
  <div class="layout-band layout-1q3q">
    <div class="col1q">Department:</div>
    <div class="col3q"><%= @transfer.department.name_dw %></div>
  </div>
  <div class="layout-band layout-1q3q">
    <div class="col1q">Graduation Date:</div>
    <div class="col3q"><%= @transfer.graduation_month %> <%= @transfer.graduation_year %></div>
  </div>
  <div class="layout-band layout-1q3q">
    <div class="col1q">Submitter:</div>
    <div class="col3q"><%= @transfer.user.display_name %></div>
  </div>
  <% if @transfer.note && @transfer.note.length > 0 %>
    <div class="layout-band layout-1q3q">
      <div class="col1q">Submitter's note:</div>
      <div class="col3q"><%= @transfer.note %></div>
    </div>
  <% end %>
</div>

<%= form_tag(transfer_files_path, method: "post", id: "process_transfer") do %>

  <% if @transfer.unassigned_files == 0 %>
    <div class="alert alert-banner">All the files that were included in this Transfer have been assigned to thesis records. No work remains to be done. This page is for informational purposes only.</div>
  <% end %>

  <div class="alert alert-banner error" style="display: none;" role="alert" aria-invalid="true"></div>

  <%= hidden_field_tag( 'id', @transfer.id ) %>

  <h4>Assign these files ...</h4>

  <%= hidden_field_tag( 'view_all', params[:view_all] || 'false' ) %>

  <% if params[:view_all] == 'true' %>
    <%= link_to('View only unassigned', url_for(view_all: false), class: 'btn button-secondary') %>
    <%= link_to('View all', url_for(view_all: true), class: 'btn button-secondary is-disabled') %>
  <% else %>
    <%= link_to('View only unassigned', url_for(view_all: false), class: 'btn button-secondary is-disabled') %>
    <%= link_to('View all', url_for(view_all: true), class: 'btn button-secondary') %>
  <% end %>

  <fieldset>
    <legend>Select the files to move</legend>
    <ul class="list-unbulleted list-files">
      <% @transfer.files.each do |file| %>
        <% if file.blob.attachments.where('record_type = ?', "Thesis").count == 0 %>
        <li>
          <label>
            <%= check_box_tag( "transfer[file_ids][]", file.id, false, data: { "msg" => "Required - please select at least one file to transfer." }, class: "required checkbox-trigger-filter" ) %>
            <%= link_to rails_blob_path(file, disposition: 'inline'), target: :_blank do %>
              <%= file.filename.to_s %>
            <% end %>
          </label>
        </li>
        <% else %>
          <% next unless params[:view_all] == 'true' %>
          <li>
            <span class="assigned"><%= link_to rails_blob_path(file, disposition: 'inline'), target: :_blank do %><%= file.filename.to_s %><% end %></span> attached to "<%= link_to( title_helper( file.blob.attachments.where('record_type = ?', "Thesis").first.record ), thesis_process_path( file.blob.attachments.where('record_type = ?', "Thesis").first.record ) ) %>"
          </li>
        <% end %>
      <% end %>
    </ul>
  </fieldset>

  <h4 class="thesis-heading">...to this thesis:</h4>
  <table class="table list-theses" id="thesisTargets">
    <caption>Select the thesis to receive the files. If the needed thesis is not in this list, edit either the transfer or thesis record in <%= link_to("the administrative interface", admin_authors_path, target: :_blank) %> so they share a department and graduation date.</caption>
    <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Authors</th>
        <th scope="col">Title</th>
        <th scope="col">Degrees</th>
      </tr>
    </thead>
    <tbody>
      <%= render(partial: 'transfer/thesis_target', collection: @theses) || render('empty_target') %>
    </tbody>
  </table>

  <% if @transfer.unassigned_files == 0 %>
    <%= submit_tag('All files matched', class: 'btn button-secondary disabled', disabled: true) %>
  <% else %>
    <%= submit_tag('Match', class: 'btn button-primary') %>
  <% end %>
<% end %>

<script>
  $(document).ready( function() {
    if( document.getElementById('thesisTargets').getElementsByClassName('empty').length === 0) {
      var table = $('#thesisTargets').DataTable({});
    }
    $(".checkbox-trigger-filter").change(function() {
      if(this.checked) {
        var filename = $(this).next().text();
        if (filename.split('-').length > 1) {
          var kerb = filename.split('-')[1]
          if (document.getElementById('thesisTargets_filter').getElementsByTagName('input')[0].value=='') {
            table.search(kerb).draw();
          }
        }
      }
    });
  });


  $("#process_transfer").validate({
    errorPlacement: function(error, element) {
      if (element.attr("name") == "transfer[file_ids][]") {
        error.insertBefore("ul.list-files");
      } else if (element.attr("name") == "thesis") {
        error.insertAfter("h4.thesis-heading");
      } else {
        error.insertAfter(element);
      }
    },
    invalidHandler: function(event, validator) {
      var errors = validator.numberOfInvalids();
      if (errors) {
        var message = errors == 1
          ? 'The form was not submitted successfully - one required field needs to be fixed.'
          : 'The form was not submitted successfully - ' + errors + ' required fields need to be fixed.';
        $("div.error").html(message);
        $("div.error").show();
      } else {
        $("div.error").hide();
      }
    }
  });
</script>
