<div class="wrap-outer-header-local layout-band">
  <div class="wrap-header-local">
    <div class="local-identity">
      <h2 class="title title-site"><%= link_to "Thesis Submission at MIT Libraries", root_path %></h2>
    </div>
    <div class="wrap-local-nav">
      <div class="wrap-bar">
        <nav class="local-nav" aria-label="Main menu">
          <%= nav_link_to("Home", root_path) %>
          <%= nav_link_to("Submit thesis information", thesis_start_path) %>

          <% if user_signed_in? %>
            <% if can? :select, Thesis %>
              <%= nav_link_to("Process theses", thesis_select_path) %>
            <% end %>
            <% if can? :create, Transfer %>
              <%= nav_link_to("Transfer theses", new_transfer_path) %>
            <% end %>
            <% if can? :select, Transfer %>
              <%= nav_link_to("Process transfers", transfer_select_path) %>
            <% end %>
            <% if can? :create, Registrar %>
              <%= nav_link_to("Upload CSV", new_registrar_path) %>
            <% end %>
            <% if can? :list_registrar, Registrar %>
              <%= nav_link_to("Harvest CSV", harvest_path) %>
            <% end %>
            <% if can? :index, Report %>
              <%= nav_link_to("Report", report_index_path) %>
            <% end %>
            <% if current_user.admin? || can?(:administrate, Admin) %>
              <%= link_to("Admin", admin_root_path, class: 'nav-item') %>
            <% end %>
          <% end %>
        </nav>
        <nav class="nav-user" aria-label="User menu">
          <% if user_signed_in? %>
            <%= link_to("Sign out", destroy_user_session_path, method: :delete, id: "sign_in", class: 'action-auth')  %>
          <% else %>
            <% if Rails.configuration.fake_auth_enabled %>
              <%= link_to("Sign in", user_developer_omniauth_authorize_path, id: "sign_in", class: 'action-auth', method: :post) %>
            <% else %>
              <%= link_to("Sign in", user_saml_omniauth_authorize_path, id: "sign_in", class: 'action-auth', method: :post) %>
            <% end %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</div>
