<div class="wrap-outer-header-local layout-band">
  <div class="wrap-header-local">
    <div class="local-identity">
      <h2 class="title title-site"><a href="/">Thesis Submission at MIT Libraries</a></h2>
    </div>
    <div class="wrap-local-nav">
      <div class="wrap-bar">
        <nav class="local-nav" aria-label="Main menu">
          <%= nav_link_to("Home", root_path) %>
          <%= nav_link_to("Submit Thesis", new_thesis_path) %>

          <% if user_signed_in? %>
            <% if can? :process_theses, Thesis %>
              <%= nav_link_to("Process submissions", process_path) %>
              <%= nav_link_to("Stats", stats_path) %>
            <% end %>
            <% if can? :create, Transfer %>
              <%= nav_link_to("Transfer theses", new_transfer_path) %>
            <% end %>
            <% if current_user.admin? || can?(:administrate, Admin) %>
              <%= link_to("Admin", admin_root_path, class: 'nav-item') %>
            <% end %>
          <% end %>
        </nav>
        <nav class="nav-user" aria-label="User menu">
          <% if user_signed_in? %>
            <%= link_to("Sign out", destroy_user_session_path, method: :delete, id: "sign_in", class: 'action-auth')  %>
          <% else %>
            <% if Rails.configuration.fake_auth_enabled %>
              <%= link_to("Sign in", user_developer_omniauth_authorize_path, id: "sign_in", class: 'action-auth') %>
            <% else %>
              <%= link_to("Sign in", user_saml_omniauth_authorize_path, id: "sign_in", class: 'action-auth') %>
            <% end %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</div>
